.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1300px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #c3a36a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #cfa968;
  }
  
  .contact-blocks{
    display: flex;
    padding: 50px;
  }

  .contact-blocks > div{
    margin: 0 50px;
  }

  @media screen and (max-width: 1000px){
    .contact-blocks{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
    }