.footer{
    display: block;
    align-content: center;
    background-color: black;
    color: azure;
}

.footer div ul li{
    display: inline;
    padding-right: 10px;
    font-size: 12px;
}

.social{
    display: flex;
    justify-content: center;
}

.social a{
    padding: 0px 20px;
    padding-bottom: 10px;
}

.footer-menu{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.copyright{
    display: flex;
    justify-content: center;
}

.copyright p{
    font-size: 10px;
}