@import "Menubar";
@import "Footer";
@import "Content";
@import "Hero";
@import "About";
@import "Contact";
@import "Products";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}

:root {
	--mainColor: black;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1{
	font-size: clamp(2.5rem, 1.0417rem + 3.3333vw, 4.375rem);
}

h2{
	font-size: clamp(2.25rem, 1.2778rem + 2.2222vw, 3.5rem);
}

h3{
	font-size: clamp(1.25rem, 1.0556rem + 0.4444vw, 1.5rem);
}

p{
	font-size: clamp(1rem, 0.9028rem + 0.2222vw, 1.125rem);
}

button{
		font: inherit;
		font-weight: bold;
		font-size: 18px;
		padding: 5px 30px;
		border-radius: 10px;
		border: none;
		background-color: #c3a36a;
		color: white;
		cursor: pointer;
}
