.product-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-product{
    padding: 30px;
    text-align: center;
}