.product-page{
    display: flex;
}

.product-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-product{
    padding: 30px;
    text-align: center;
}

.filter-bar{
    min-width: 250px;
    background-color: rgb(249, 249, 249);
    padding-left: 20px;
    padding-top: 20px;
}